@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*----------------Body bg-colour---*/
.bg-body {
    background-color: #37B5FF;
}
/*----------------Font & colour all text---*/

.text-header {
    color: #FEE73B;
    font-family: Peralta, Roboto, sans-serif;
    -webkit-text-stroke: 1px #000;
}

/*----------------Background image lego-balloons---*/
.img-balloon {
    position: absolute;
    left: -1px;
    top: -1px;
}
/*----------------Header, play & contact buttons container---*/

.container {
    text-align: center;
}

/*----------------Header---*/
#header {
    position: relative;
    font-size: 27px;
    margin: 2px;
}
    
@media only screen and (min-width: 600px) {
    #header {
        font-size: 45px;
        margin: 4px;
    }
}

@media only screen and (min-width: 768px) {
    #header {
        font-size: 55px;
        margin: 6px;
    }
}

@media only screen and (min-width: 992px) {
    #header {
        font-size: 75px;
        margin: 8px;
    }
}

/*----------------Play Button---*/

#play-button {
    position: relative;
    background-color: #FEE73B;
    color: #FDA6F5;
    border: 1px solid #000;
    padding: 4px;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
    #play-button, #contact-button {
        font-size: 30px;
        margin: 2px;
    }
}

@media only screen and (min-width: 992px) {
    #play-button, #contact-button {
        font-size: 40px;
        margin: 4px;
    }
}

/*----------------Contact Button---*/
#contact-button {
    position: relative;
    background-color: #FEE73B;
    color: #37B5FF;
    border: 1px solid #000;
    padding: 4px;
    border-radius: 4px;
}

@media only screen and (min-width: 600px) {
    #menu-button {
    padding: 8px;
    font-size: 30px;
    left: -10px;
    }
}