@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*----------------Body bg-colour---*/
#body-bg {
    background-color: #37B5FF;
}
/*----------------Font & colour for headers---*/

.text-header {
    color: #FEE73B;
    font-family: Peralta, Roboto, sans-serif;
    font-size: 27px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .text-header {
        font-size: 45px;
        margin: 4px;
    }
}

@media only screen and (min-width: 768px) {
    .text-header {
        font-size: 55px;
        margin: 6px;
    }
}

@media only screen and (min-width: 992px) {
    .text-header {
        font-size: 75px;
        margin: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .text-header {
        font-size: 89px;
    }
}

/*----------------Font & colour for normal text---*/

.text-style {
    color: #FEE73B;
    font-family: Peralta, Roboto, sans-serif;
    text-align: center;
    font-size: 15px;
    /*
    -webkit-text-stroke: 1px #000;
    */
}

@media only screen and (min-width: 600px) {
    .text-style {
        font-size: 25px;
        margin: 4px;
    }
}

@media only screen and (min-width: 768px) {
    .text-style {
        font-size: 30px;
        margin: 6px;
    }
}

@media only screen and (min-width: 992px) {
    .text-style {
        font-size: 40px;
        margin: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .text-style {
        font-size: 50px;
        margin: 10px;
    }
}

/*----------------Background image lego-balloons---*/
.img-balloon {
    position: absolute;
    left: -1px;
    top: -1px;
}
/*----------------Header, play & contact buttons container---*/

.container {
    text-align: center;
}

/*----------------Header---*/
#header {
    position: relative;
    margin: 2px;
}

/*----------------Play & Contact Button---*/

#play-button {
    position: relative;
    background-color: #FEE73B;
    color: #FDA6F5;
    /*
    border: 1px solid #000;
    */
    padding: 4px;
    border-radius: 4px;
}

#contact-button {
    position: relative;
    background-color: #FEE73B;
    color: #37B5FF;
    /*
    border: 1px solid #000;
    */
    padding: 4px;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
    #play-button, #contact-button {
        font-size: 30px;
        margin: 2px;
    }
}

@media only screen and (min-width: 992px) {
    #play-button, #contact-button {
        font-size: 40px;
        margin: 4px;
    }
}

@media only screen and (min-width: 1200px) {
    #play-button, #contact-button {
        font-size: 50px;
        margin: 8px;
    }
}

/*----------------Play text-section, before Memory Game---*/

#play {
    position: relative;
    text-align: center;
    margin-top: 115%;
}

@media only screen and (min-width: 1200px) {
    #play {
        margin-top: 120%;
    }
}

/*----------------Memory Game - Credit: Code with Ania Kubow, https://www.youtube.com/watch?v=tjyDOHzKN0w & Michelle3334 / freaky_memory on GitHub: https://github.com/Michelle3334---*/

#memorygame {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    #memorygame {
        margin: auto;
        width: 375px;
        height: 395px;
    }
}

@media only screen and (min-width: 992px) {
    #memorygame {
        width: 476px;
        height: 300px;
    }
}

/*----------------Score, moves and reset---*/

.inline {
    display: inline-block;
    width: 47%;
    margin-left: 5px;
}

#reset, .submit-button {
    background-color: #FEE73B;
    color: #FDA6F5;
    border-radius: 4px;
}

#reset {
    padding-left: 20px;
    padding-right: 20px;
}

#reset-container {
    position: relative;
    text-align: center;
    display: block;
}

/*----------------Text Thank you for playing---*/

.thank-you {
    text-align: center;
    margin: 10px;
}

/*----------------Image icecream-break---*/

.img-icecream {
    margin-bottom: 8px;
}

/*----------------Contact form---*/

.align-left {
    display: flex;
}

/*----------------Footer---*/

footer {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #FEE73B;
    display: block;
}

.fa-github-square {
    color: #37B5FF;
    font-size: 30px;
}

@media only screen and (min-width: 600px) {
    .fa-github-square {
        font-size: 40px;
        margin: 4px;
    }
}

@media only screen and (min-width: 768px) {
    .fa-github-square {
        font-size: 50px;
        margin: 6px;
    }
}

@media only screen and (min-width: 992px) {
    .fa-github-square {
        font-size: 60px;
        margin: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .fa-github-square {
        font-size: 70px;
    }
}